/* Importing the font-awesome CDN  */
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

/* Main container */

.main {
    width: 500px;

    position: absolute;
    z-index: 1000;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);

}

h1 {
    font-size: 30px;
    text-align: center;
}


/* alert message container */

.alert .text {
    display: block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(212, 212, 212);
}


/* Styling the closing button */

.alert .close {
    float: right;
    margin: 20px 20px 0px 0px;
    cursor: pointer;
}

.alert .text,
.alert .close {
    color: rgb(88, 88, 88);
}

.alert input {
    display: none;
}


/* Adding animations to handle the checkbox */

.alert input:checked~* {
    animation-name: dismiss, hide;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0s, 100ms;
}


/* Styling the error alert */

.alert.error .text {
    border: 1px solid rgb(238, 211, 215);
    background-color: rgb(242, 222, 222);
}

.alert.error .text,
.alert.error .close {
    color: rgb(185, 74, 72);
}


/* Styling the success alert */

.alert.success .text {
    border: 1px solid rgb(214, 233, 198);
    background-color: rgb(223, 240, 216);
}

.alert.success .text,
.alert.success .close {
    color: rgb(70, 136, 71);
}


/* styling the info alert */

.alert.info .text {
    border: 1px solid rgb(188, 232, 241);
    background-color: rgb(217, 237, 247);
}

.alert.info .text,
.alert.info .close {
    color: rgb(58, 135, 173);
}


/* Styling the warning alert */

.alert.warning .text {
    border: 1px solid rgb(251, 238, 213);
    background-color: rgb(252, 248, 227);
}

.alert.warning .text,
.alert.warning .close {
    color: rgb(192, 152, 83);
}


/* animations for dismissing the alert message */

@keyframes dismiss {
    0% {
        opacity: 1;
    }
    90%,
    100% {
        opacity: 0;
        font-size: 0.1px;
        transform: scale(0);
    }
}

@keyframes hide {
    100% {
        height: 0px;
        width: 0px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
}
