



    <div class="main">

        <!-- Alert message for displaying an error -->
        <div *ngIf="!success" class="alert error">
            <input type="checkbox" id="alert1" />
            <label class="close" title="close" for="alert1">
                <i class="icon-remove"></i>
            </label>
            <p class="text">
                <strong>Error!</strong> {{message}}
            </p>
        </div>
        <!-- Alert message for displaying a success message -->
        <div  *ngIf="success" class="alert success">
            <input type="checkbox" id="alert2" />
            <label class="close" title="close" for="alert2">
                <i class="icon-remove"></i>
            </label>
            <p class="text">
                <strong>Success!</strong> {{message}}
            </p>
        </div>



    </div>
